/* селектор{властивість} */
p {
  /* color: darkgreen; */
  /* color: rgb(34,140,34); */
  /* color: rgba(34, 140, 34, 0.5); */
  /* color: #228B22; */
  color: black;
  font-size: 16px;
  font-weight: normal;
}
/* #main-heading {
  font-size: 32px;
  font-weight: bold;
} */
/* .heading-class {
  font-size: 48px;
  font-weight: bold;
} */
.section-heading {
  font-size: 48px;
  background-color: darkcyan;
  font-weight: bold;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline yellow double;
}
/* text-decoration : text-decoration-style,text-decoration-color,text-decoration-line */
